html(style="background-image: url('img/icons/jason-leung-fXAuCMEYGY4-unsplash.jpg'); background-size: cover;")
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
title Contact- Amie Gie Bakery
link(rel="stylesheet", href="bootstrap/css/bootstrap.min.css")
link(rel="stylesheet", href="css/Modern-Contact-Form.css")
link(rel="stylesheet", href="css/Contstyles.css")
link(rel="stylesheet", href="css/Navstyles.css")
link(rel="stylesheet", href="css/Advanced-NavBar---Multi-dropdown.css")
link(rel="stylesheet", href="fonts/simple-line-icons.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
script(defer src="js/jquery.min.js")
script(defer src="bootstrap/js/bootstrap.min.js")
script(defer src="js/Advanced-NavBar---Multi-dropdown.js")

.header2.bg-success-gradiant
  div
    //  Header 1 code 
    nav.navbar.navbar-expand-lg.h2-nav
      a.navbar-brand(href="#")
        img(src="img/avatars/LogoB.png", alt="Amie Gie Backery",width="50px",height="50px")
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#header2", aria-controls="header2", aria-expanded="false", aria-label="Toggle navigation")
        span.icon-menu
          i.fa.fa-bars
      .collapse.navbar-collapse.hover-dropdown#header2
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="contact") Contact
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href="login") Login
          li.nav-item
            a.btn.rounded-pill.btn-dark.py-2.px-4(href="register") Sign up

    //  End Header 1 code 
section.getintouch
  .container.modern-form
    .text-center
      h4(style="color: #212529;font-size: 45px;") Get in touch
    hr.modern-form__hr
    .modern-form__form-container
      form(method="post") 
        .form-row
          .col.col-contact
            .form-group.modern-form__form-group--padding-r
              input.form-control.input.input-tr(type="text",name="name", placeholder="Full Name", required)
              .line-box
                .line
                br
        .form-row
          .col.col-contact
            .form-group.modern-form__form-group--padding-r
              input.form-control.input.input-tr(type="tel",name="number", placeholder="Cell Number",minlength ="10",maxlength ="10", required)
              .line-box
                .line               
          .col.col-contact
            .form-group.modern-form__form-group--padding-l
              input.form-control.input.input-tr(type="email", name="email",placeholder="Email")
              .line-box
                .line
        .form-row
          .col
            .form-group.modern-form__form-group--padding-t
              textarea.form-control.input.modern-form__form-control--textarea(name="message",placeholder="Message",minlength ="5", required)
              .line-box
                .line
        .form-row
          .col.text-center
            button.btn.btn-primary.submit-now(type="submit") Submit Now
